.button-notched {
  position:relative;
  overflow: hidden;
  height: 30px;
  background: #32420f;
  border: #BEFE3B 1px solid;
  clip-path: polygon(
    0% 8px,                 /* top left */
    8px 0%,                 /* top left */
    100% 0%,                /* top right */
    100% 8px,               /* top right */
    100% calc(100% - 8px),  /* bottom right */
    calc(100% - 8px) 100%,  /* bottom right */
    8px 100%,               /* bottom left */
    0 100%                  /* bottom left */
  );
  a {
    padding: 7px 12px;
  }
  &.active {
    background: #BEFE3B;
    color: black;
  }
  &_corner {
    position: absolute;
    background: #BEFE3B;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    &__left-top {
      top: -5px;
      left: -5px;
    }
    &__left-bottom {
      bottom: -5px;
      left: -5px;
    }
    &__right-top {
      top: -5px;
      right: -5px;
    }
    &__right-bottom {
      bottom: -5px;
      right: -5px;
    }
  }
}
